# Default ignored files
/shelf/
/workspace.xml
*/bin
/bin/
# Rider ignored files
/.idea.Guitarget.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
Application/
